body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color: #eaeaea;
}

html {
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
}

#top {
    text-align: center;
    background-image: url('/img/background-image.jpg');
    height: 600px;
    width: 100%;
    background-size: cover;
}

#card {
    height: 1100px;
    background-color: #ffffff;
    border-radius: 30px 30px 30px 30px;
    -webkit-box-shadow: #888888 0px 0px 15px;
    -moz-box-shadow: #888888 0px 0px 15px;
    box-shadow: #888888 0px 0px 25px;
}

.cover-btns {
    position: relative;
    top: 350px;
    font-size: 5rem;

}

.cover-btns a {
    margin: 10px 15px;
    padding: 0 35px;
    height: 45px;
    line-height: 45px;
    font-size: 2rem;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    border-radius: 30px;
    box-shadow: none;
    text-decoration: none;
    letter-spacing: .5px;
    text-align: center;
}

.cover-btns a:hover {
    border: 1px solid #f44336;
    background-color: #f44336;
    box-shadow: 0 14px 26px -12px rgba(233, 30, 99, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(233, 30, 99, 0.2);
}

.cover-btns a i {
    font-size: 2rem;
    padding-right: 5px;
}

#title {
    color: #fff;
    position: relative;
    top: 220px;
    font-size: 5rem;
}


.post-card {
    height: 270px;
    margin-top: 50px;
    text-align: center;
    border-radius: 15px 15px 15px 15px;
    padding-top: 100px;
}

.post-card h3 {
    color: #fff;
}

.post-card a {
    text-decoration: none;
}

#post-card0 {
    background: linear-gradient(to right,
    #49ffee 0%, #ff291f 100%);
}

#post-card1 {
    background: linear-gradient(to right,
    #86ff3f 0%, #ff2cf3 100%);
}

#post-card2 {
    background: linear-gradient(to right,
    #fff71f 0%, #0b0cff 100%);
}

.col {
    margin: 100px auto;
    width: 75%;
}

@media only screen and (max-width: 601px) {
    .container {
        padding: 0 0 0 0;
        width: 100%;
    }

    #title {
        top: 200px;
    }

    .cover-btns {
        top: 250px;
    }
}

/*中等屏幕下(平板类)的样式*/
@media only screen and (min-width: 600px) and (max-width: 992px) {
    .container {
        width: 90%;
    }
}

/*大屏幕下(桌面类)的样式*/
@media only screen and (min-width: 993px) {
    .container {
        width: 85%;
        max-width: 1125px;
    }

}